.bg-primary {
  background-color: var(--primary);
}

.bg-opacity-50-primary {
  background-color: var(--primary-opacity-50);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-opacity-50-secondary {
  background-color: var(--secondary-opacity-50);
}

.bg-success {
  background-color: var(--success);
}

.bg-opacity-50-success {
  background-color: var(--success-opacity-50);
}

.bg-warning {
  background-color: var(--warning);
}

.bg-opacity-50-warning {
  background-color: var(--warning-opacity-50);
}

.bg-info {
  background-color: var(--info);
}

.bg-opacity-50-info {
  background-color: var(--info-opacity-50);
}

.bg-danger {
  background-color: var(--danger);
}

.bg-opacity-50-danger {
  background-color: var(--danger-opacity-50);
}

.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}