.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-success {
  color: var(--success) !important;
}

.text-warning {
  color: var(--warning) !important;
}

.text-info {
  color: var(--info) !important;
}

.text-danger {
  color: var(--danger) !important;
}

.text-light {
  color: var(--light) !important;
}

.text-white {
  color: var(--white) !important;
}

.text-dark {
  color: var(--dark) !important;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end;
}

.font-lighter {
  font-weight: lighter;
}

.font-light {
  font-weight: 400;
}

.font-medium {
  font-weight: 600;
}

.font-semibold {
  font-weight: 800;
}

.font-bold {
  font-weight: bold;
}

.font-bolder {
  font-weight: bolder;
}