.shadow-danger {
  box-shadow: 0 0 12px 0 var(--danger);
  border: none;
}

.shadow-success {
  box-shadow: 0 0 12px 0 var(--success);
  border: none;
}

.shadow-warning {
  box-shadow: 0 0 12px 0 var(--warning);
  border: none;
}

.shadow-box {
  box-shadow: 0 0 12px 0 var(--border-color);
}