/* --- --- --- main source --- --- --- */

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.top-right {
  top: 20px;
  right: 20px;
}

.top-left {
  top: 20px;
  left: 20px;
}

.bottom-right {
  bottom: 20px;
  right: 20px;
}

.bottom-Left {
  bottom: 20px;
  left: 20px;
}

.top-center {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-center {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.toaster {
  position: relative;
  color: #EEE;
  background-color: #334;
  width: 460px;
  padding: 40px;
  animation: toast 4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

  @media screen and (max-width: 576px) {
    width: 100%;
  }

  .head {
    font-size: 19px !important;
  }

  .paragraph {
    font-size: 13px !important;
  }

}

.transform-effect {
  transition: 0.5s all ease-in-out;
  animation: translateAnim .3s ease-in-out;
}

@keyframes translateAnim {
  0%{
    opacity: 0;
    transform: translateY(200px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}