@import "global/root";
@import "global/component";

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}


.btn {
  width: 100%;
  display: block;
  padding: var(--padding);
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;

  &.btn-primary {
    background-color: var(--primary);
    color: var(--white);
  }

  &.btn-secondary {
    background-color: var(--secondary);
    color: var(--white);
  }

  &.btn-success {
    background-color: var(--success);
    color: var(--white);
  }

  &.btn-warning {
    background-color: var(--warning);
    color: var(--white);
  }

  &.btn-info {
    background-color: var(--info);
    color: var(--white);
  }

  &.btn-danger {
    background-color: var(--danger);
    color: var(--white);
  }

  &.btn-light {
    background-color: var(--light);
    color: var(--white);
  }

  &.btn-dark {
    background-color: var(--dark);
    color: var(--white);
  }
}

.bg-primary {
  background-color: var(--primary);
  color: var(--white);
}

.bg-secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.bg-success {
  background-color: var(--success);
  color: var(--white);
}

.bg-warning {
  background-color: var(--warning);
  color: var(--white);
}

.bg-info {
  background-color: var(--info);
  color: var(--white);
}

.bg-danger {
  background-color: var(--danger);
  color: var(--white);
}

.bg-light {
  background-color: var(--light);
  color: var(--white);
}

.bg-dark {
  background-color: var(--dark);
  color: var(--white);
}

.toaster {
  position: relative;
  color: #EEE;
  background-color: #334;
  width: 460px;
  padding: 2rem;
  font-size: 1.1rem;
  border-left: 3px solid #EEE;
  animation: toast 4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.transform-effect {
  transition: 0.5s all ease-in-out;
  animation: translateAnim .3s ease-in-out;
}

@keyframes translateAnim {
  0%{
    opacity: 0;
    transform: translateY(200px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.items-start {
  align-items: start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.border-radius-circle {
  border-radius: 50%;
}

.shadow-danger {
  box-shadow: 0 0 12px 0 var(--danger) !important;
  border: none !important;
}

.shadow-success {
  box-shadow: 0 0 12px 0 var(--success) !important;
  border: none !important;
}

.shadow-warning {
  box-shadow: 0 0 12px 0 var(--warning) !important;
  border: none !important;
}