.wrapper-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .sidebar-toggle {
    display: none;
    @media screen and (max-width: 991px) {
      display: inline-block;
    }
  }

  .link {
    text-decoration: none;
    color: var(--secondary);
    display: inline-block;
    padding: 5px 10px;
  }

}

.wrapper {
  width: 100%;
  display: flex;
  height: calc(100vh - 70px);

  .wrapper-sidebar {
    width: 250px;
    height: calc(100vh - 70px);

    .sidebar-close {
      display: none;
      @media screen and (max-width: 991px) {
        display: flex;
        justify-content: end;
        align-items: center;
      }

    }

    @media screen and (max-width: 991px) {
      position: fixed;
      left: -260px;
      height: 100vh;
      top: 0;
      bottom: 0;
      background-color: var(--white);
      transition: 0.3s all ease-in-out;
      z-index: 50;

      &.active {
        transition: 0.3s all ease-in-out;
        left: 0;
      }

    }

    div {
      display: block;
      padding: 10px 20px;
      color: var(--dark);
      font-weight: 700;
    }

    a {
      text-decoration: none;
      color: var(--secondary);
      display: block;
      padding: 10px 20px;
    }

  }

  .wrapper-content {
    width: calc(100% - 250px);
    height: calc(100vh - 70px);
    padding: 10px 20px;
    scroll-behavior: smooth;

    @media screen and (max-width: 991px) {
      width: 100%;
    }

  }

}